#Redirect 302 /fr/vente-annuelle /fr/inscription/passe-de-saison
#Redirect 302 /en/sale-annual /en/register/season-pass

Redirect 301 /condition/ https://skigailuron.ca/fr/condition-des-sentiers
Redirect 301 /tarif-pour-velo-fatbike/ https://skigailuron.ca/fr/tarifs-fatbike
Redirect 301 /infolettre https://skigailuron.ca/fr/
Redirect 301 /images-ski-de-fond-laurentides/ https://skigailuron.ca/fr/images-ski-de-fond
Redirect 301 /sentier/sentier-de-ski-de-fond-u/ https://skigailuron.ca/fr/sentiers-ski-de-fond/u
Redirect 301 /sentier/sentier-de-ski-de-fond-l-c/ https://skigailuron.ca/fr/sentiers-ski-de-fond/l-c
Redirect 301 /sentier/sentier-de-ski-de-fond-a/ https://skigailuron.ca/fr/sentiers-ski-de-fond/a
Redirect 301 /sentier/sentier-de-ski-de-fond-l-c-b/ https://skigailuron.ca/fr/sentiers-ski-de-fond/l-c-b
Redirect 301 /tarifs/ https://skigailuron.ca/fr/tarifs-ski-de-fond
Redirect 301 /sentier/sentier-de-ski-de-fond-i/ https://skigailuron.ca/fr/sentiers-ski-de-fond/i
Redirect 301 /images-ski-de-fond-laurentides/nggallery/page/2 https://skigailuron.ca/fr/
Redirect 301 /images-ski-de-fond-laurentides/nggallery/page/3 https://skigailuron.ca/fr/
Redirect 301 /sentier/sentier-de-raquette-r-2/ https://skigailuron.ca/fr/sentiers-raquette/r-2
Redirect 301 /sentier/sentier-de-ski-de-fond-g/ https://skigailuron.ca/fr/sentiers-ski-de-fond/g
Redirect 301 /sentier/sentier-de-raquette-r-4/ https://skigailuron.ca/fr/sentiers-raquette/r-4
Redirect 301 /images-ski-de-fond-laurentides/nggallery/page/1 https://skigailuron.ca/fr/
Redirect 301 /sentiers-ski-de-fond-raquette/ https://skigailuron.ca/fr/sentiers-raquette
Redirect 301 /contact/ https://skigailuron.ca/fr/contact
Redirect 301 /ecole-de-ski-de-fond/ https://skigailuron.ca/fr/
Redirect 301 /sentier/sentier-de-raquette-r-6/ https://skigailuron.ca/fr/sentiers-raquette/r-6
Redirect 301 /sentier/sentier-pas-de-patin/ https://skigailuron.ca/fr/sentiers-ski-de-fond/g
Redirect 301 /boutique-de-ski-de-fond/ https://skigailuron.ca/fr/
Redirect 301 /sentier/sentier-de-raquette-r-8/ https://skigailuron.ca/fr/sentiers-raquette/r-8
Redirect 301 /infolettre/ https://skigailuron.ca/fr/
Redirect 301 /sentier/sentier-de-ski-de-fond-l-b/ https://skigailuron.ca/fr/sentiers-ski-de-fond/l-b
Redirect 301 /tarifs-pour-la-raquette/ https://skigailuron.ca/fr/tarifs-raquette
Redirect 301 /sentier/sentier-de-ski-de-fond-l/ https://skigailuron.ca/fr/sentiers-ski-de-fond/l
Redirect 301 /en/rates-for-bike-fatbike/ https://skigailuron.ca/en/fatbike-rates
Redirect 301 /en/rates/ https://skigailuron.ca/en/fatbike-rates
Redirect 301 /en/sentiers-ski-de-fond-raquette/ https://skigailuron.ca/en/snowshoes-trails
Redirect 301 /en/rates-for-snowshoeing/ https://skigailuron.ca/en/snowshoes-rates

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^centredeskidefondgai-luron.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.centredeskidefondgai-luron.com$
RewriteRule (.*)$ https://skigailuron.ca/$1 [R=301,L]

RewriteRule ^.well-known - [L]
RewriteCond %{HTTP_HOST} ^www\.skigailuron\.ca [NC]
RewriteRule ^(.*)$ https://skigailuron.ca/$1 [L,R=301]
RewriteCond %{REQUEST_URI} !^/web
RewriteRule ^(.*)$ web/$1 [L]

</IfModule>

# php -- BEGIN cPanel-generated handler, do not edit
# This domain inherits the “PHP” package.
# php -- END cPanel-generated handler, do not edit
