<h1>Votre abonnement de saison en ligne !</h1>
<h2>Vous pouvez acheter votre abonnement de saison en ligne. Nous allons préparer vos passes pour votre première
    visite au centre.</h2>
<br><br>
<h2>La passe de saison de ski vous donnes accès aux sentiers de raquette et de Fatbike</h2>    
<br><br>

{{ include("VWAbonnementBundle:Abonnement:form.html.twig") }}