{% extends "VWAbonnementBundle::layout.html.twig" %}

{% block title %}

 Sport - {{ parent() }}

{% endblock %}

{% block vwclient_body %}
 
            
<h1>Modifier {{ sport.nom }}</h1>
          <div class="container">
    
                <div class="row">
                    <a href="{{ path('vw_sport_liste') }}" type="button" class="btn btn-primary">Revenir</a>

                    <div class="col-sm-12">
                      {{ include("VWAbonnementBundle:Sport:form.html.twig") }}

                    </div>
                </div>

        </div>


{% endblock %}

