
{% extends "VWClientBundle::layout.html.twig" %}

{% block title %}

  Contact - {{ parent() }}

{% endblock %}

{% block vwclient_body %}
 
<h1>Modifier la catégorie</h1>

<div class="container">
    
    <div class="row">
        <div class="col-sm-12">
          {{ include("VWClientBundle:Ville:form.html.twig") }}

        </div>
    </div>
    
</div>



{% endblock %}

