<div class="container pages">
    
    
    <div class="row">
            
            <div class="col-sm-12">
                
                <header class="entry-header">
                    <h1 class="entry-title">Vente annuelle – Octobre et novembre 2021</h1>
                </header><!-- .entry-header -->


            
            </div>
        
        
        </div>

            
            
            
            
            
            
            <div class="row">
                
                
                <div class="col-12">
                    
                    Bonjour à tous, <br/><br/>
                    
                    Comme à chaque année, notre Centre de ski de fond fera sa grande vente annuelle. Dès le 15 octobre prochain, vous pourrez vous procurer votre passe de saison (ski, raquette et fat bike) 
                    directement en ligne à l’adresse suivante : <a href="http://skigailuron.ca/">http://skigailuron.ca/</a>. Un rabais vous sera offert jusqu’au <strong>21 novembre inclusivement</strong>. Après cette date,  
                    l’achat de passe se fera au prix régulier jusqu’à un maximum établi par la direction. Vous pourrez venir la récupérer en personne à notre boutique de ski <strong>entre le 19 et le 21 novembre</strong>. Si vous ne pouvez venir à ce moment, vous devrez attendre l’ouverture officielle du centre en décembre prochain. 
                    <br/><br/>
                    Vous remarquerez certains changements dans nos tarifs et nos diverses options de passes de saison. Nous avons pris ces décisions en nous basant sur le marché actuel ainsi que sur la situation sanitaire des deux dernières années. 
                    <br/><br/>
                    En ce qui concerne notre vente d’équipements usagés, nous vous transmettrons tous les détails d’ici la fin octobre. Si tout se déroule bien, notre vente aura lieu, du <strong>19 au 21 novembre prochain</strong>. 
                    <br/><br/>
                    Comme l’an dernier, en cas de fermeture complète de notre centre, deux possibilités de crédit vous seront offertes avec l’achat de votre passe : soit, 
                    le report en totalité de celle-ci pour l’année 2022-2023 s’il y a fermeture d’ici le 1er janvier 2022 ou, le report partiel de votre passe pour l’année 2022-2023 
                    si le centre ferme d’ici le 15 février 2022. <br/>
                    <i>*Important : Aucun remboursement ne sera possible*</i>
                    <br/><br/>
                    Nous espérons grandement pouvoir vous offrir encore cette année, les meilleures conditions possibles dans un environnement paisible, sain et sécuritaire.   
                    <br/><br/>
                    Merci de votre compréhension et au plaisir de vous revoir bientôt dans nos sentiers !
                    <br/><br/>
                    <p style="text-aling:center">La direction</p>

          
                <br><br><br><br>
                </div>
                
                
            
            </div>
            
            
            

           

       
    </div>
</div>
