<div class="container pages">
    
    
    <div class="row">
            
            <div class="col-sm-12">
                
                <header class="entry-header">
                    <h1 class="entry-title">Vente annuelle</h1>
                </header><!-- .entry-header -->


            
            </div>
        
        
        </div>

            
            
            
            
            
            
            <div class="row">
                
                
                <div class="col-12">
                    
                    Bonjour à tous, <br/><br/>
                    
                    Malheureusement notre vente annuelle d’équipements usagés n’aura pas lieu cette année. Nous conserverons nos équipements de l’an dernier car nous n’avons toujours pas 
                    reçu notre commande d’équipements neufs pour l’année 2022. Renseignez-vous au courant de la saison, nous mettrons en vente certains de nos équipements en temps et lieu. 
                    <br/><br/>
                    Pour ceux et celles qui n’auront pas pu acheter leur passe en ligne, sachez que vous pourrez venir à notre boutique la fin de semaine du 
                    <strong>19 au 21 novembre prochain de 9h00 à 17h00</strong>. De plus, pour ceux qui ont déjà acheté leur passe en ligne, nous vous conseillons de venir cette même fin de semaine la récupérer. 
                    Si vous ne pouvez venir à ce moment, vous devrez attendre à l’ouverture officielle du Centre. 
                    <br/><br/>
                    La saison 2021-2022 approche à grand pas et encore cette année, nous vous demandons, avant votre première visite chez nous, 
                    de prendre connaissance des mesures et consignes sanitaires ainsi que des directives applicables aux centres de ski de fond pour la saison 2021-2022. 
                    Vous trouverez tous les détails directement sur notre site web dans la section <a href="https://skigailuron.ca/fr/mesures-preventives-covid-19">Mesures préventives – Covid-19</a>. 
                    <br/><br/>
                    <strong><span style="color:red">Et n’oubliez pas</span> qu’un rabais de 10%</strong> est présentement offert sur toutes les passes de saison (ski, raquette et fat bike) <strong style="color:red">jusqu’au 21 novembre prochain</strong>.  
                    Vous pouvez vous procurer votre passe de saison directement en ligne à l’adresse suivante : <a href="http://skigailuron.ca/">http://skigailuron.ca/</a>. Après cette date,  
                    l’achat de passe se fera au prix régulier jusqu’à un maximum établi par la direction.  
                    <br/><br/>
                    <p style="text-align:center">Merci et au plaisir de vous revoir !</a>
                    <p style="text-align:center">L’équipe du Gai-Luron</p>

          
                <br><br><br><br>
                </div>
                
                
            
            </div>
            
            
            

           

       
    </div>
</div>
