<div class="container pages">
    
    
    <div class="row">
            
            <div class="col-sm-12">
                
                <header class="entry-header">
                    <h1 class="entry-title">Mesures préventives – Covid-19</h1>
                </header><!-- .entry-header -->
            
            </div>       
        
        </div>
            <div class="row">
                
                
                <div class="col-12">
                    
                    <p>Voici les mesures et directives émises par la Direction de la santé publique, qui seront applicables dans notre centre cet hiver. </p>
                    <h5>Tout d’abord, un petit rappel des consignes de base applicables à tous les niveaux d’alerte</h5>
                    <ul>
                        <li>Respect de la distanciation entre les personnes ne résidant pas à la même adresse. </li>
                        <li>Port du masque dans tous les lieux où cela est requis.</li>
                        <li>Lavage des mains fréquent tout au long de votre visite.</li>
                    </ul>
                    <br/>
                    <h5>Voici ce qui sera en vigueur pour la saison 2021-2022 :</h5>
                    <ul>
                        <li><strong>Le passeport vaccinal n’est pas requis</strong> sur notre site et pour la pratique de nos sports. </li>
                        <li>Notre accueil est, depuis la saison 2020-2021, déménagée au 1er étage de notre salle de réception afin d’avoir le meilleur aménagement possible pour vous servir.</li>
                        <li>Des toilettes chimiques sont disponibles à l’extérieur aux départs de sentiers et des salles de toilettes intérieures sont accessibles dans notre bâtiment principal.</li>
                        <li>Il n’y a aucun service de restauration et cafétéria sur place. Un air de repos est disponible au rez-de-chaussée de la salle de réception afin de vous réchauffer.  </li>
                        <li><strong>Aucune nourriture, repas ou collation n’est permis dans nos relais ou autres bâtiments.</strong> </li>
                        <li>Tous nos relais sont ouverts, vous pourrez donc vous réchauffer quelques minutes. </li>
                        <li>Aucun effet personnel ne peut et ne doit rester à l’intérieur d’aucun bâtiment. </li>
                        <li>Une personne par famille  est recommandée à l’intérieur de la boutique et accueil pour l’achat de billets.</li>
                        <li>Nos heures d’ouverture sont de 8h00 à 17h00, 7 jours sur 7.</li>
                        <li>La location d’équipement est permise sans réservation, premier arrivé, premier servi. Tous nos équipements sont désinfectés après chaque utilisation.</li>
                    </ul>
                    <br/><br/>
                    <p><strong>Encore cette année, nous pensons qu’il est important de vous communiquer les recommandations et consignes générales qui s’appliquent dans plusieurs centres du Québec.</strong></p>
                    <h5>Ce qu’on recommande d’apporter lors de votre visite chez nous</h5>
                    <p>
                        L’accès à nos bâtiments (salle de fartage, relais) et à l’accueil est limité. Notre cafétéria est <strong>fermée</strong>. N’oubliez donc pas d’apporter le nécessaire pour être le plus autonome possible. 
                    </p>
                    <p>Voici quelques suggestions et recommandations :</p>
                    <ul>
                        <li>Équipements de protection individuelle : couvre-visage et désinfectant à mains.</li>
                        <li>Des vêtements chauds pour parer à toutes les conditions météorologiques et des vêtements de rechange pour demeurer toujours au sec.</li>
                        <li>Des mouchoirs.</li>
                        <li>De l’eau, des collations, un thermos chaud, un lunch, etc.</li>
                        <li>Passe visible en tout temps</li>
                        <li>Respecter en tout temps les affiches et réglementations en vigueur pour notre centre</li>
                    </ul>
                    <p><span sytle="color:red">Important :</span> <strong>Au moindre signe de symptôme</strong> de la COVID-19 (fièvre, toux, difficulté respiratoire) pour vous ou 
                    un membre de votre entourage immédiat, vous devez <strong>demeurer à la maison.</strong>. </p>
                    <h5>En tout temps</h5>
                    <ul>
                        <li>Consultez notre site web ou notre page Facebook avant de vous déplacer.</li>
                        <li>Essayez de venir nous visiter en semaine, le taux d’achalandage étant moins important.</li>
                        <li>Arrivez tôt le matin, afin de profiter au maximum de nos sentiers.</li>
                    </ul>
                    <p><strong>Voici quelques liens importants et utiles à consulter avant votre première visite :</strong></p>
                    <p>Ski de fond Québec Covid-19 : <a target="_blank" href="http://skidefondquebec.ca/covid-19">http://skidefondquebec.ca/covid-19</a></p>
                    <p>Directives spécifiques pour le secteur du loisir et sport : 
                    <a target="_blank" href="https://www.quebec.ca/tourisme-et-loisirs/activites-sportives-et-de-plein-air/directives-specifiques-loisir-sport/">Directives spécifiques pour le secteur du loisir et sport | Gouvernement du Québec (quebec.ca)</a></p>
                      <p>Carte des paliers d'alerte de COVID-19 par région : <a target="_blank" href="https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/systeme-alertes-regionales-et-intervention-graduelle/cartes-paliers-alerte-covid-19-par-region/">https://www.quebec.ca/sante/problemes-de-sante/a-z/coronavirus-2019/systeme-alertes-regionales-et-intervention-graduelle/cartes-paliers-alerte-covid-19-par-region/</a></p>

                    <p style="text-aling:center">L’équipe du Gai-Luron vous remercie et vous souhaite une excellente saison de ski 2021-2022.</p>

          
                <br><br><br><br>
                </div>
                
                
            
            </div>
            
            
            

           

       
    </div>
</div>
