<div class="container pages">
    
    
    <div class="row">
            
            <div class="col-sm-10">
                
                <header class="entry-header">
                    <h1 class="entry-title">École de ski de fond </h1>
                </header><!-- .entry-header -->


                <h2>Amis skieurs et skieuses,</h2>
            
            </div>
            
            <div class="col-sm-2">
                <img src="{{ absolute_url(asset('/images/LogoJmlhiver_Swix.svg')) }}">
            </div>
        
        
        </div>

            
            
            
            
            
            
            <div class="row">
                
                <div class="col-sm-4">
                    <img src="{{ absolute_url(asset('/images/ecole-ski-de-fond.jpg')) }}" class="img-fluid">
                </div>
                
                
                <div class="col-sm-8">
                    
                    <p>Nous oublions trop souvent que le Québec, pendant quelques mois, devient un pays nordique. L’hiver est une saison que nous pouvons apprécier lorsque nous apprenons à apprivoiser ses aspects rébarbatifs. À l’école de ski, on apprend à se tenir au chaud à l’extérieur, à utiliser les équipements et à maîtriser les techniques de glisse. C’est avec des joues rouges et un sourire accroché au visage qu’on apprécie notre chocolat chaud entre amis.</p>
                    <p>
                    Nous avons aussi adopté les principes et la philosophie du modèle canadien de développement de l’athlète en ski de fond. En définitive, nous visons à vous faire découvrir un sport que vous pourrez pratiquer à long terme, afin de vous donner une vie active et saine. </p>

                <h3>Toute notre équipe vous invite donc à venir aimer l’hiver avec nous. </h3>

            <h4>Stéphane Mélançon</h4>
            <blockquote>Directeur de l’école de ski J’m l’hiver</blockquote>
            <a href="mailto:info@jmlhiver.ca">info@jmlhiver.ca</a><br/>
                        <a target="_blank" href="http://www.jmlhiver.ca">http://www.jmlhiver.ca</a>
                <br><br><br><br>
                </div>
                
                
            
            </div>
            
            
            

           

       
    </div>
</div>
