<div class="container pages">
    <div class="row">
        <div class="col-sm-12">

             
            <header class="entry-header">
                <h1 class="entry-title">Events for the 2024-2025 season</h1>
            </header><!-- .entry-header -->

            
    
            <div class="container">
                <h2>Upcoming Events</h2>
            </div>
            
    
            <!--<div class="container">
                <h2>Fatbike2024fr - Breakfast Club of Canada</h2>
                <div class="row">
                    <div class="col-md-5">
                        <a target="_blank" href="https://www.breakfastclubcanada.org/fr/fatbike2024fr/"><img src="/images/BCC_FATBIKE23_VELOMAG_ILOT_2024.jpg" alt="" class="w-100" /></a>
                    </div>
                    <div class="col-md-7" style="text-align: justify">
                         Le Défi Fat Bike vous propose plusieurs nouveautés pour sa 3e édition, dont l’occasion de découvrir les magnifiques sentiers du Centre Gai-Luron situé à Saint-Jérôme dans les Laurentides. Accessible à tous, le défi proposé de 5 heures peut être relevé individuellement ou en équipe de quatre cyclistes.<br/><br/>
                         C’est l’occasion de vous dépasser à votre rythme et de passer une journée en plein air tout en ayant un impact positif pour les enfants de la communauté. Le Club des petits déjeuners soutient plus de 3 000 programmes d’alimentation scolaire qui rejoignent plus de 420 000 enfants chaque jour à travers le Canada.<br/><br/>
                         Les programmes de petits déjeuners au Québec rejoignent à eux seuls près de 79&nbsp;000 enfants. En participant à cet événement signature, vous contribuez concrètement à leur donner de l’énergie pour apprendre !
                         <br/><br/>
                         <a target="_blank" href="https://www.breakfastclubcanada.org/fr/fatbike2024fr/" class="btn btn-primary">Inscription</a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>