<div class="container pages">
    <div class="row">
        <div class="col-sm-12">

            <header class="entry-header">
                <h1 class="entry-title">Reception room</h1>
            </header><!-- .entry-header -->
            
<div class="row">
                        <div class="col-md-12">

                            <div id="mdb-lightbox-ui"></div>

                            <div class="mdb-lightbox">

                                <figure class="col-md-4">
                                    <a href="{{ absolute_url(asset('/images/gallerie/')) }}salle-de-reception-gailuron-grande.jpg" data-size="1600x1067">
                                        <img src="{{ absolute_url(asset('/images/gallerie/')) }}salle-de-reception-gailuron.jpg" class="img-fluid">
                                    </a>

             <p>Comming soon</p>
        </div>
    </div>
</div>
