<div class="container pages">
    <div class="row">
        <div class="col-sm-12">

             
            <header class="entry-header">
                <h1 class="entry-title">SALLE GAI-LURON</h1>
            </header><!-- .entry-header -->

            
    
    
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        {#<h2>La salle Gai-Luron est l'endroit idéal pour se réunir pour diverses occasions et événements.</h2>   #}
                         
                        <h3>Réservez sans tarder notre salle, <strong>pour une conférence, une formation, un séminaire (Sur semaine et de jour seulement).</strong> </h3>
            
                            <ul>
                                <li>Capacité de 80 personnes assises</li>
                                <li>Foyer</li> 
                                <li>Toile de projection</li> 
                                <li>Wifi</li>
                                <li>Facile d’accès et retirée des grands centres</li>
                                <li>Stationnement extérieur gratuit</li>
                            </ul>
            
                            <p>À 8 minutes de l'autoroute 15 et facilement accessible par deux sorties d'autoroute
            À 15 minutes du Centre ville de Saint-Jérôme et de St-Sauveur</p>
            
                            <p>Contactez nous au 450 224-5302 pour les tous les détails.</p> 
                            <p>Nous sommes situés au 2164 Montée Sainte-Thérèse, Saint-Jérôme, J5L 0L5, en face du centre de ski de fond Gai-Luron.</p>
                            <p>Au plaisir,</p>
                
                    </div>
                    
                    <div class="col-md-6">
                        <img class="w-100" src="/images/salle.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
    
    
    
    
    
    
    
    
