<div class="container pages">
    
    
    <div class="row">
            
            <div class="col-sm-12">
                
                <header class="entry-header">
                    <h1 class="entry-title">Vente annuelle – Octobre et novembre 2024</h1>
                </header><!-- .entry-header -->


            
            </div>
        
        
        </div>

            
            
            
            
            
            
            <div class="row">
                
                
                <div class="col-12">
                    
                    Bonjour à tous,<br/><br/>

                   Dès le <strong>18 octobre prochain</strong>, nous vous offrirons la passe de saison à 10% de rabais pendant un mois complet. <strong>Du vendredi 18 octobre au dimanche 17 novembre 2024</strong> vous pourrez vous procurer votre passe de saison 2024-2025 directement en ligne à l’adresse suivante : <a href="https://skigailuron.ca/">skigailuron.ca</a>. Après cette date, l’achat de la passe se fera au prix régulier inscrit sur notre site web. Lors de la fin de semaine du 15 au 17 novembre, l’achat de passe de saison sera possible en personne à notre boutique de ski située au 2164 Montée Sainte-Thérèse à Saint-Jérôme.   
                        <br/><br/>
                        Pour ce qui est de notre vente d’équipements usagés (Skis, bottes et bâtons), celle-ci aura lieu du <strong>vendredi 15 novembre au dimanche 17 novembre prochain de 9h30 à 15h30.</strong>. Nous aurons plusieurs équipements usagés Rossignol à vendre, De plus cette année, nous aurons en surplus quelques bottes neuves qui seront à vendre à un prix très avantageux. 
                            <br/><br/>
                        Nous espérons vous voir en grand nombre cette année encore dans nos sentiers.
                        <br/><br/>
                        <p style="text-align:center">L’équipe du Gai-Luron</p>
                        
                                  
                                        <br><br><br><br>
                                        </div>
                
                
            
            </div>
            
            
            

           

       
    </div>
</div>
