<div class="container pages">
    
    
    <div class="row">
            
            <div class="col-sm-12">
                
                <header class="entry-header">
                    <h1 class="entry-title">Annulation vente annuelle d’équipements usagés<br/>Novembre 2020</h1>
                </header><!-- .entry-header -->


            
            </div>
        
        
        </div>

            
            
            
            
            
            
            <div class="row">
                
                
                <div class="col-12">
                    
                    Bonjour à tous, <br/><br/>
                    Malheureusement nous sommes dans l’obligation d’annuler notre vente annuelle d’équipements usagés. Nous conserverons nos équipements afin de pouvoir vous servir le plus efficacement possible cette saison.  
                    <br/><br/>
                    De plus, cette année, étant donné les circonstances exceptionnelles, nous avons pris la décision de déménager notre boutique d’accueil au 1er étage de notre salle de réception. Cet endroit nous assurera un espace convenable et adéquat afin de respecter les nouvelles normes en vigueur.  Cela nous permettra de pouvoir vous servir le mieux possible et en toute sécurité et ce, tout au long de la saison. 
                    <br/><br/>
                    N’oubliez pas qu’un rabais de 15% est présentement offert sur toutes les passes de saison (ski, raquette et fat bike) jusqu’au <strong>22 novembre prochain</strong>. Vous pouvez vous procurer votre passe de saison directement en ligne à l’adresse suivante : <a href="http://skigailuron.ca/">http://skigailuron.ca/</a>. Après cette date, vous pourrez vous procurer votre passe en tout temps en ligne et en personne au prix régulier. 
                    <br/><br/>
                    Prendre note qu’en cas de fermeture complète de notre centre, deux possibilités de crédit vous seront offertes avec l’achat de votre passe : soit, le report en totalité de celle-ci pour l’année 2021-2022 s’il y a fermeture d’ici le 1er janvier 2021 ou, le report partiel de votre passe pour l’année 2021-2022 si le centre ferme d’ici le 15 février 2021.<br/>*Important : Aucun remboursement ne sera possible*
                    <br/><br/>
                    Enfin, veillez svp prendre connaissance des mesures préventives ainsi que des nouvelles directives applicables aux centres de ski de fond pour la saison 2020-2021, directement sur notre site web dans la section <a href="https://skigailuron.ca/fr/mesures-preventives-covid-19">Mesures préventives – Covid-19</a>.  
                    <br/><br/>
                    <p style="text-aling:center">Merci et au plaisir de vous revoir !<br/>L’équipe du Gai-Luron</p>

          
                <br><br><br><br>
                </div>
                
                
            
            </div>
            
            
            

           

       
    </div>
</div>
