{# META TITLE#}
{% block meta_title %}

{% if app.request.getLocale() == "fr" %}
Déclaration de confidentialité (CA) - Gai-Luron - Laurentides 
{% else %}
Cross country skiing school - Gai-Luron - Laurentian
{% endif %}
{% endblock %}

{# META DESCRIPTION #}
{% block meta_description %}
{% if app.request.getLocale() == "fr" %}
École de ski de fond - Gai-Luron - Laurentides
{% else %}
Cross country skiing school - Gai-Luron - Laurentian
{% endif %}
{% endblock %}


{% extends "VWBaseBundle::layout.html.twig" %}

{% block body %}
<div class="container pages">
    <div class="row">
        <div class="col-sm-12">

            <header class="entry-header">
                <h1 class="entry-title">Déclaration de confidentialité (CA)</h1>
            </header><!-- .entry-header -->
            
            
            <div class="container gallery-container">

   
    
                    <div class="tz-gallery">

                        <div class="row">
                <div class="content_pol">
                    <div id="cmplz-document" class="cmplz-document privacy-statement cmplz-document-ca"><p><i>Cette déclaration de confidentialité a été modifiée pour la dernière fois le 10 octobre 2023, vérifiée pour la dernière fois le 10 octobre 2023, et s’applique aux citoyens et aux résidents permanents légaux du Canada.</i><br><br></p><p>Dans cette déclaration de confidentialité, nous expliquons ce que nous faisons avec les données que nous obtenons à votre sujet via <a href="https://skigailuron.ca/">https://skigailuron.ca/</a>. Nous vous recommandons de lire attentivement cette déclaration. Lors de notre traitement, nous nous conformons aux exigences de la législation sur la confidentialité. Cela signifie, entre autres, que&nbsp;:</p><ul>
                <li>nous indiquons clairement dans quelles finalités nous traitons les données personnelles. Nous faisons cela au moyen de cette déclaration de confidentialité&nbsp;;</li>
                <li>nous visons à limiter notre recueil de données personnelles uniquement aux données personnelles nécessaires à des finalités légitimes;</li>
                <li>nous demandons d’abord votre consentement explicite pour traiter vos données personnelles dans les cas nécessitant votre consentement;</li>
                <li>nous prenons des mesures de sécurité appropriées afin de protéger vos données personnelles, et nous en demandons autant des parties traitant des données personnelles pour nous;</li>
                <li>nous respectons votre droit de consulter, corriger ou supprimer vos données personnelles si vous en formulez la demande.</li>
            </ul><p></p>Si vous avez des questions ou souhaitez savoir exactement quelles données nous conservons, veuillez nous contacter.<h2>1. Finalité et catégories de données</h2><p>Nous pouvons collecter ou recevoir des informations personnelles pour un certain nombre de raisons liées à nos activités commerciales, notamment les suivantes&nbsp;: (cliquez pour déplier)</p><details class="cmplz-dropdown dropdown-privacy-statement"><summary><div><h3>1.1 Infolettres</h3></div></summary><p class="cmplz-subtitle">Les catégories de données suivantes sont collectées</p><p></p><ul><li>Un prénom et un nom de famille</li><li>Une adresse e-mail</li><li>Un numéro de téléphone</li><li>Adresse IP</li><li>Informations sur l’activité internet, y compris, mais sans s’y limiter, l’historique de navigation, l’historique de recherche et les informations concernant l’interaction d’un consommateur avec un site web, une application ou une publicité internet</li></ul><p></p><p class="cmplz-subtitle">Durée de conservation</p><p>À la fin du service, nous conservons ces données pendant la période de temps suivante&nbsp;: Indéterminé.</p></details><details class="cmplz-dropdown dropdown-privacy-statement"><summary><div><h3>1.2 Pour pouvoir se conformer aux obligations légales</h3></div></summary><p class="cmplz-subtitle">Les catégories de données suivantes sont collectées</p><p></p><ul><li>Un prénom et un nom de famille</li><li>Un domicile ou une autre adresse physique, incluant le nom d’une rue et le nom d’une ville ou d’un village</li><li>Une adresse e-mail</li><li>Un numéro de téléphone</li><li>Adresse IP</li><li>Informations sur l’activité internet, y compris, mais sans s’y limiter, l’historique de navigation, l’historique de recherche et les informations concernant l’interaction d’un consommateur avec un site web, une application ou une publicité internet</li><li>Données de géolocalisation</li></ul><p></p><p class="cmplz-subtitle">Durée de conservation</p><p>À la fin du service, nous conservons ces données pendant la période de temps suivante&nbsp;: Indéterminé.</p></details><details class="cmplz-dropdown dropdown-privacy-statement"><summary><div><h3>1.3 Compiler et analyser des statistiques pour l’amélioration du site web.</h3></div></summary><p class="cmplz-subtitle">Les catégories de données suivantes sont collectées</p><p></p><ul><li>Un prénom et un nom de famille</li><li>Une adresse e-mail</li><li>Un numéro de téléphone</li><li>Adresse IP</li><li>Informations sur l’activité internet, y compris, mais sans s’y limiter, l’historique de navigation, l’historique de recherche et les informations concernant l’interaction d’un consommateur avec un site web, une application ou une publicité internet</li><li>Données de géolocalisation</li><li>Sexe</li></ul><p></p><p class="cmplz-subtitle">Durée de conservation</p><p>À la fin du service, nous conservons ces données pendant la période de temps suivante&nbsp;: Indéterminé.</p></details><h2>2. Pratiques de divulgation</h2><p></p><p>Nous divulguons des informations personnelles si nous y sommes tenus par la loi ou par une ordonnance du tribunal, en réponse à un organisme d’application de la loi, dans la mesure permise par d’autres dispositions de la loi, pour fournir des informations, ou pour une enquête sur une question liée à la sécurité publique.</p><p>Si notre site web ou notre organisation est repris, vendu ou impliqué dans une fusion ou une acquisition, vos données peuvent être divulguées à nos conseillers et à tout acheteur potentiel et seront transmises aux nouveaux propriétaires.</p><p></p><h2>3. Comment nous répondons aux demandes Ne pas me pister &amp; Contrôle global de confidentialité</h2><p>Notre site web réagit à l’en-tête de requête HTTP Ne pas me pister (DNT) et le prend en charge. Si vous activez DNT dans votre navigateur, ces préférences nous sont communiquées dans l’en-tête de requête HTTP, et nous ne pisterons pas votre comportement de navigation.</p><h2>4. Cookies</h2><p>Notre site web utilise des cookies. Pour plus d’informations sur les cookies, veuillez vous référer à notre Politique de cookies sur notre page <a href="https://boisdechauffage-sec.ca/politique-de-cookies-ca/">Politique de cookies (CA)</a>.&nbsp;</p><p>Nous avons conclu un accord de traitement des données avec Google.</p><p>Google ne peut utiliser les données pour aucun autre service Google.</p><h2>5. Sécurité</h2><p>Nous nous engageons à la sécurité des données personnelles. Nous prenons les mesures de sécurité appropriées pour limiter les abus et l’accès non autorisé aux données personnelles. Cela garantit que seules les personnes nécessaires ont accès à vos données, que l’accès aux données est protégé et que nos mesures de sécurité sont régulièrement revues.</p><h2>6. Sites web de tierces parties</h2><p>Cette déclaration de confidentialité ne s’applique pas aux sites web de tierces parties connectés par des liens sur notre site web. Nous ne pouvons garantir que ces tierces parties gèrent vos données personnelles de manière fiable ou sécurisée. Nous vous recommandons de lire les déclarations de confidentialité de ces sites web avant de les utiliser.</p><h2>7. Modifications apportées à cette déclaration de confidentialité</h2><p>Nous nous réservons le droit de modifier la présente déclaration de confidentialité. Il est recommandé de consulter régulièrement cette déclaration de confidentialité afin de prendre connaissance de toute modification éventuelle. De plus, nous vous informerons activement dans la mesure du possible.</p><h2>8. Accéder à vos données et les modifier</h2><p>Si vous avez des questions, ou si vous voulez prendre connaissance des données personnelles que nous stockons à votre propos, veuillez nous contacter. Veuillez vous assurer de toujours donner clairement votre identité, pour que nous soyons certains de ne pas modifier ou supprimer les données de la mauvaise personne. Nous ne fournirons les informations demandées que lors de la réception d’une demande d’un consommateur vérifiable. Vous pouvez nous contacter en utilisant les informations ci-dessous.</p><p class="cmplz-subtitle">8.1 Vous avez les droits suivants concernant vos données personnelles</p><ol class="alphabetic">
                        <li>Vous pouvez envoyer une demande d’accès aux données vous concernant que nous traitons.</li>
                        <li>Vous pouvez demander une vue d’ensemble, sous un format communément utilisé, des données que nous traitons à votre sujet.</li>
                        <li>Vous pouvez demander la correction ou la suppression des données si elles sont incorrectes ou si elles ne sont plus d’actualité. Lorsque cela est approprié, les informations modifiées seront transmises à des tierces parties ayant accès aux informations en question.</li>
                        <li>Vous avez le droit de retirer votre consentement à tout moment, sujet à des restrictions contractuelles ou juridiques et un préavis raisonnable. Vous serez informé(e) des implications d’un tel retrait.</li>
                        <li>Vous avez le droit d’adresser à notre organisation une objection concernant tout non respect de la LPRDE et, si le problème n’est pas résolu, au Commissariat à la protection de la vie privée du Canada.</li>
                        <li>Nous donnerons l’accès aux informations personnelles sous un format alternatif à tout individu ayant un handicap sensoriel et le droit à l’accès à des informations personnelles sous la LRPDE, dans le cas où l’individu demande à ce qu’elles soient transmises sous ce format alternatif si (a) une version des informations existe déjà sous ce format&nbsp;; ou (b) leur conversion vers ce format est raisonnable et nécessaire afin que l’individu puisse exercer ses droits.</li>
                      </ol><h2>9. Enfants</h2><p>Notre site web n’est pas conçu pour les enfants et il n’est pas dans notre intention de recueillir des données personnelles auprès d’enfants sous l’âge de consentement de leur pays de résidence. Nous demandons par conséquent aux enfants sous l’âge de consentement de ne nous envoyer aucune donnée personnelle.</p><h2>10. Coordonnées</h2><p>Gai-Luron<br>
        
2164 montée Sainte-Thérèse<br/>
Saint-Jérôme, Québec J5L 0L5, Canada
<br>
        Website: <a href="https://skigailuron.ca/">https://skigailuron.ca/</a> <br>
        Email: <span class="cmplz-obfuscate">info@skigailuron.ca</span> <br>
        <br>
        Numéro de téléphone: (450) 224-5302</p><h2>11. Demandes de données</h2><p>Pour les demandes les plus fréquentes, nous vous offrons également la possibilité de nous conatcter par courriel : info@skigailuron.ca.<br>			</p>
			
			

			<style>
				/* first-name is honeypot */
				.cmplz-first-name {
					position: absolute !important;
					left: -5000px !important;
				}
			</style>
			<p></p><p>Nous avons nommé une personne à contacter à propos des politiques et pratiques de l’organisation, et à qui toute plainte ou demande de renseignement peut être transmise&nbsp;:<br>Gai-Luron<br>info@skigailuron.ca</p></div>
                </div>
                </div>
                

    </div>

       </div>

    </div>
        
    </div>
</div>
            

{% endblock %}