{# META TITLE#}
{% block meta_title %}

{% if app.request.getLocale() == "fr" %}
Politique de cookies (CA) - Gai-Luron - Laurentides 
{% else %}
Cross country skiing school - Gai-Luron - Laurentian
{% endif %}
{% endblock %}

{# META DESCRIPTION #}
{% block meta_description %}
{% if app.request.getLocale() == "fr" %}
École de ski de fond - Gai-Luron - Laurentides
{% else %}
Cross country skiing school - Gai-Luron - Laurentian
{% endif %}
{% endblock %}


{% extends "VWBaseBundle::layout.html.twig" %}

{% block body %}
<div class="container pages">
    <div class="row">
        <div class="col-sm-12">

            <header class="entry-header">
                <h1 class="entry-title">Politique de cookies (CA)</h1>
            </header><!-- .entry-header -->
            
            
            <div class="container gallery-container">

   
    
                    <div class="tz-gallery">

                        <div class="row">
                <div class="content_pol">
                    <div id="cmplz-document" class="cmplz-document cookie-statement cmplz-document-ca"><p><i>Cette page a été modifiée pour la dernière fois le 10 octobre 2023, a été vérifiée pour la dernière fois le 10 octobre 2023, et s’applique aux citoyens et aux résidents permanents légaux du Canada.</i><br></p><h2>1. Introduction</h2><p>Notre site web, <a href="https://skigailuron.ca/">https://skigailuron.ca/</a> (ci-après&nbsp;: «&nbsp;le site web&nbsp;») utilise des cookies et autres technologies liées (par simplification, toutes ces technologies sont désignées par le terme «&nbsp;cookies&nbsp;»). Des cookies sont également placés par des tierces parties que nous avons engagées. Dans le document ci-dessous, nous vous informons de l’utilisation des cookies sur notre site web.</p><h2>2. Que sont les cookies&nbsp;?</h2><p>Un cookie est un petit fichier simple envoyé avec les pages de ce site web et stocké par votre navigateur sur le disque dur de votre ordinateur ou d’un autre appareil. Les informations qui y sont stockées peuvent être renvoyées à nos serveurs ou aux serveurs des tierces parties concernées lors d’une visite ultérieure.</p><h2>3. Que sont les scripts&nbsp;?</h2><p>Un script est un élément de code utilisé pour que notre site web fonctionne correctement et de manière interactive. Ce code est exécuté sur notre serveur ou sur votre appareil.</p><h2>4. Qu’est-ce qu’une balise invisible&nbsp;?</h2><p>Une balise invisible (ou balise web) est un petit morceau de texte ou d’image invisible sur un site web, utilisé pour suivre le trafic sur un site web. Pour ce faire, diverses données vous concernant sont stockées à l’aide de balises invisibles.</p><h2>5. Tierces parties</h2><p>Nous avons passé des accords à propos de l’utilisation des cookies avec d’autres entreprises plaçant des cookies. Cependant, nous ne pouvons garantir que ces tierces parties gèrent vos données personnelles de manière fiable ou sécurisée. Certaines parties telles que Google doivent être considérées comme des responsables de traitement des données indépendants. Nous vous recommandons de lire les déclarations de confidentialité de ces entreprises.</p><h2>6. Cookies</h2><p class="cmplz-subtitle">6.1 Cookies techniques ou fonctionnels</p><p>Certains cookies assurent le fonctionnement correct de certaines parties du site web et la prise en compte de vos préférences en tant qu’utilisateur. En plaçant des cookies fonctionnels, nous vous facilitons la visite de notre site web. Ainsi, vous n’avez pas besoin de saisir à plusieurs reprises les mêmes informations lors de la visite de notre site web et, par exemple, les éléments restent dans votre panier jusqu’à votre paiement.</p><p class="cmplz-subtitle">6.2 Cookies statistiques</p><p>Nous utilisons des cookies statistiques afin d’optimiser l’expérience des internautes sur notre site web. Avec ces cookies statistiques, nous obtenons des informations sur l’utilisation de notre site web.</p><p class="cmplz-subtitle">6.3 Cookies de marketing/suivi</p><p>Les cookies de marketing/suivi sont des cookies ou toute autre forme de stockage local, utilisés pour créer des profils d’utilisateurs afin d’afficher de la publicité ou de suivre l’utilisateur sur ce site web ou sur plusieurs sites web dans des finalités marketing similaires.</p><p class="cmplz-subtitle">6.4 Réseaux sociaux</p><p>Sur notre site web, nous avons inclus du contenu provenant de Facebook et Twitter pour promouvoir des pages web (par exemple, «&nbsp;like&nbsp;», «&nbsp;pin&nbsp;») ou les partager (par exemple, «&nbsp;tweet&nbsp;») sur des réseaux sociaux comme Facebook et Twitter. Ce contenu est intégré grâce un code obtenu de Facebook et Twitter et place des cookies. Ce contenu peut stocker et traiter certaines informations à des fins de publicité personnalisée.</p><p>Veuillez lire la déclaration de confidentialité de ces réseaux sociaux (qui peut être modifiée régulièrement) afin de savoir ce qu’ils font de vos données (personnelles) traitées en utilisant ces cookies. Les données récupérées sont anonymisées autant que possible. Facebook et Twitter se trouvent aux États-Unis.</p><h2>7. Cookies placés</h2><div id="cmplz-cookies-overview">
<details class="cmplz-dropdown cmplz-service-desc cmplz-dropdown-cookiepolicy ">
	<summary class="cmplz-service-header"><div>
		<h3>Google Analytics</h3>
		<p>Statistiques</p>
		<label for="cmplz_service_google-analytics" class="cmplz_consent_per_service_label"><span class="screen-reader-text">Consent to service google-analytics</span></label>
		<input type="checkbox" id="cmplz_service_google-analytics" class="cmplz-accept-service cmplz-hidden" data-service="google-analytics" data-category="functional"></div>
	</summary>
	<table style="width:100%">
	    <tr>
	        <td><h4>Utilisation</h4></td>
	       <td><h4>Partage de données</h4>
		        <p>Ces données ne sont pas partagées avec des tierces parties.</p>
            </td>
        </tr>    
		
	</table>
	<h4>Statistiques</h4>
	<table style="width:100%">
	    <tr>
    	    <th>Nom</th>
    	    <th>Expiration</th>
    	    <th>Fonction</th>
    	</tr>  
    	<tr>
    	    <td><a target="_blank" rel="noopener noreferrer nofollow" href="https://cookiedatabase.org/cookie/unknown-service/_ga/">_ga</a></td>
    	    <td>2 ans</td>
    	    <td>Compter et suivre les pages visitées</td>
    	</tr>
    	<tr>
    	    <td><a target="_blank" rel="noopener noreferrer nofollow" href="https://cookiedatabase.org/cookie/unknown-service/_ga_/">_ga_*</a></td>
    	    <td>1 ans</td>
    	    <td>Compter et suivre les pages visitées</td>
    	</tr>
	</table>
</div>
</details>


</div><h2>8. Consentement</h2><p>Lorsque vous visitez notre site web pour la première fois, nous vous montrerons une fenêtre contextuelle avec une explication sur les cookies. Dès que vous cliquez sur «&nbsp;Accepter&nbsp;», vous consentez à ce que nous utilisions tous les cookies et extensions comme décrit dans la fenêtre contextuelle et la présente politiquede cookies. Vous pouvez désactiver l’utilisation des cookies via votre navigateur, mais veuillez noter que notre site web pourrait ne plus fonctionner correctement.</p><p class="cmplz-subtitle">8.1 Gérez vos réglages de consentement</p><div id="cmplz-manage-consent-container-nojavascript" style="display: none;">Vous avez chargé la politique de cookies sans le support de javascript.&nbsp;Sur AMP, vous pouvez utiliser l’onglet de gestion du consentement en bas de la page.</div><div id="cmplz-manage-consent-container" name="cmplz-manage-consent-container" class="cmplz-manage-consent-container" style="display: block;"><!-- categories start -->
		<div class="cmplz-categories">
			<details class="cmplz-category cmplz-functional">
				<summary>
						<span class="cmplz-category-header">
							<span class="cmplz-category-title">Fonctionnel</span>
							<span class="cmplz-always-active">
								<span class="cmplz-banner-checkbox">
									<input type="checkbox" id="cmplz-functional-optin" data-category="cmplz_functional" class="cmplz-consent-checkbox cmplz-functional" size="40" value="1">
									<label class="cmplz-label" for="cmplz-functional-optin" tabindex="0"><span class="screen-reader-text">Fonctionnel</span></label>
								</span>
								Toujours activé							</span>
							<span class="cmplz-icon cmplz-open">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="18"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"></path></svg>
							</span>
						</span>
				</summary>
				<div class="cmplz-description">
					<span class="cmplz-description-functional">Le stockage ou l’accès technique est strictement nécessaire dans la finalité d’intérêt légitime de permettre l’utilisation d’un service spécifique explicitement demandé par l’abonné ou l’utilisateur, ou dans le seul but d’effectuer la transmission d’une communication sur un réseau de communications électroniques.</span>
				</div>
			</details>

			<details class="cmplz-category cmplz-preferences">
				<summary>
						<span class="cmplz-category-header">
							<span class="cmplz-category-title">Préférences</span>
							<span class="cmplz-banner-checkbox">
								<input type="checkbox" id="cmplz-preferences-optin" data-category="cmplz_preferences" class="cmplz-consent-checkbox cmplz-preferences" size="40" value="1">
								<label class="cmplz-label" for="cmplz-preferences-optin" tabindex="0"><span class="screen-reader-text">Préférences</span></label>
							</span>
							<span class="cmplz-icon cmplz-open">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="18"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"></path></svg>
							</span>
						</span>
				</summary>
				<div class="cmplz-description">
					<span class="cmplz-description-preferences">Le stockage ou l’accès technique est nécessaire dans la finalité d’intérêt légitime de stocker des préférences qui ne sont pas demandées par l’abonné ou l’utilisateur.</span>
				</div>
			</details>

			<details class="cmplz-category cmplz-statistics">
				<summary>
						<span class="cmplz-category-header">
							<span class="cmplz-category-title">Statistiques</span>
							<span class="cmplz-banner-checkbox">
								<input type="checkbox" id="cmplz-statistics-optin" data-category="cmplz_statistics" class="cmplz-consent-checkbox cmplz-statistics" size="40" value="1">
								<label class="cmplz-label" for="cmplz-statistics-optin" tabindex="0"><span class="screen-reader-text">Statistiques</span></label>
							</span>
							<span class="cmplz-icon cmplz-open">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="18"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"></path></svg>
							</span>
						</span>
				</summary>
				<div class="cmplz-description">
					<span class="cmplz-description-statistics">Le stockage ou l’accès technique qui est utilisé exclusivement à des fins statistiques.</span>
					<span class="cmplz-description-statistics-anonymous">Le stockage ou l’accès technique qui est utilisé exclusivement dans des finalités statistiques anonymes. En l’absence d’une assignation à comparaître, d’une conformité volontaire de la part de votre fournisseur d’accès à internet ou d’enregistrements supplémentaires provenant d’une tierce partie, les informations stockées ou extraites à cette seule fin ne peuvent généralement pas être utilisées pour vous identifier.</span>
				</div>
			</details>
			<details class="cmplz-category cmplz-marketing">
				<summary>
						<span class="cmplz-category-header">
							<span class="cmplz-category-title">Marketing</span>
							<span class="cmplz-banner-checkbox">
								<input type="checkbox" id="cmplz-marketing-optin" data-category="cmplz_marketing" class="cmplz-consent-checkbox cmplz-marketing" size="40" value="1">
								<label class="cmplz-label" for="cmplz-marketing-optin" tabindex="0"><span class="screen-reader-text">Marketing</span></label>
							</span>
							<span class="cmplz-icon cmplz-open">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="18"><path d="M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z"></path></svg>
							</span>
						</span>
				</summary>
				<div class="cmplz-description">
					<span class="cmplz-description-marketing">Le stockage ou l’accès technique est nécessaire pour créer des profils d’utilisateurs afin d’envoyer des publicités, ou pour suivre l’utilisateur sur un site web ou sur plusieurs sites web ayant des finalités marketing similaires.</span>
				</div>
			</details>
		</div><!-- categories end --></div><p>Vous pouvez également désactiver l’utilisation de cookies par votre navigateur, mais veuillez noter que notre site web risque de ne plus fonctionner correctement.</p><h2>9. Activer/désactiver et supprimer les cookies</h2><p>Vous pouvez utiliser votre navigateur internet pour supprimer automatiquement ou manuellement des cookies. Vous pouvez également préciser que certains cookies ne doivent pas être placés. Une autre option est de modifier les réglages de votre navigateur Internet afin de recevoir un message à chaque fois qu’un cookie est placé. Pour plus d’informations à propos de ces options, veuillez vous référer aux instructions dans la section Aide de votre navigateur. Ou vous pouvez indiquer vos préférences sur la page suivante&nbsp;: <a href="https://youradchoices.ca" rel="noopener noreferrer nofollow" target="_blank">youradchoices.ca</a></p><p>Veuillez noter que notre site web peut ne pas marcher correctement si tous les cookies sont désactivés. Si vous supprimez les cookies dans votre navigateur, ils seront de nouveau placés après votre consentement lorsque vous revisiterez notre site web.</p><h2>10. Vos droits concernant les données personnelles</h2><p>Vous avez les droits suivants concernant vos données personnelles&nbsp;:</p><ul>
                <li>vous pouvez envoyer une demande d’accès aux données vous concernant que nous traitons&nbsp;;</li>
                <li>vous pouvez vous opposer au traitement&nbsp;;</li>
                <li>vous pouvez demander une vue d’ensemble, sous un format communément utilisé, des données que nous traitons à votre sujet&nbsp;;</li>
                <li>vous pouvez demander la correction ou la suppression des données si elles sont incorrectes ou si elles ne sont plus d’actualité. Lorsque cela est approprié, les informations modifiées seront transmises à des tierces parties ayant accès aux informations en question.</li>
                <li>Vous avez le droit de retirer votre consentement à tout moment, sujet à des restrictions contractuelles ou juridiques et un préavis raisonnable. Vous serez informé(e) des implications d’un tel retrait.</li>
                <li>Vous avez le droit d’adresser à notre organisation une objection concernant tout non respect de la LPRDE et, si le problème n’est pas résolu, au Commissariat à la protection de la vie privée du Canada.</li>
            </ul><p>Pour exercer ces droits, veuillez nous contacter. Veuillez vous référer aux coordonnées au bas de cette politique de cookies. Si vous avez une plainte concernant la façon dont nous traitons vos données, nous aimerions en être informés.</p><h2>11. Coordonnées</h2><p>Pour des questions et/ou des commentaires sur notre politique de cookies et cette déclaration, veuillez nous contacter en utilisant les coordonnées suivantes&nbsp;:</p><p><span class="cmplz-contact-organisation">Gai-Luron</span><br>
                    <span class="cmplz-contact-address">
2164 montée Sainte-Thérèse<br/>
Saint-Jérôme, Québec J5L 0L5, Canada
</span><br>
                    <span class="cmplz-contact-country">Canada</span><br>
                    Website: <span class="cmplz-contact-domain"><a href="https://skigailuron.ca/">https://skigailuron.ca/</a></span><br>
                    Courriel: <span class="cmplz-contact-email"><span class="cmplz-obfuscate">info@skigailuron.ca</span></span><br>
                    <span class="cmplz-contact-telephone">Numéro de téléphone: (450) 224-5302</span></p><p>Cette politique de cookies a été synchronisée avec <a href="https://cookiedatabase.org/" target="_blank">cookiedatabase.org</a> le 10 octobre 2023.</p></div>
                </div>
                

    </div>

       </div>

    </div>
        
    </div>
</div>
            

{% endblock %}