{# src/VW/SeoBundle/Resources/views/Seo/add.html.twig #}

{% extends "VWBaseBundle::layout.html.twig" %}

{% block body %}

<div class="container">

    <div class="col-sm-12">
        
            <h1>Merci {{ soumission.client.prenom  }},</h1>
           nous allons prendre connaissance de la demande de soumission et évaluer vos besoins afin de vous offrir le service, que selon nous, vous avez réellement besoin. 

    </div>
</div>

{% endblock %}