{# src/VW/SeoBundle/Resources/views/Seo/add.html.twig #}

{% extends "VWSeoBundle::layout.html.twig" %}

{% block body %}

  <h2>Ajouter une annonce</h2>

  {{ include("VWSeoBundle:Seo:form.html.twig") }}

  <p>
    
  </p>

{% endblock %}