@font-face{
        font-family:"Brody W01 Regular";
        src:url("Fonts/e4e959c7-dbab-4a9d-b530-26800e8b1830.eot?#iefix");
        src:url("Fonts/e4e959c7-dbab-4a9d-b530-26800e8b1830.eot?#iefix") format("eot"),url("Fonts/8034f7ad-60ee-4337-bc60-197a982cb8a5.woff2") format("woff2"),url("Fonts/25482f31-fdd5-42ab-9a97-a5baae2153a8.woff") format("woff"),url("Fonts/33d0d15b-6fc8-42cc-a4e6-ff874048fc61.ttf") format("truetype"),url("Fonts/6a76efbf-64e2-460e-bba5-609fd3f0efc5.svg#6a76efbf-64e2-460e-bba5-609fd3f0efc5") format("svg");
    }
@font-face{
    font-family:"Swiss_721 W01 Light";
    src:url("Fonts/8936dd78-6787-48e6-b578-0df6e400b3e1.eot?#iefix");
    src:url("Fonts/8936dd78-6787-48e6-b578-0df6e400b3e1.eot?#iefix") format("eot"),url("Fonts/2fdec0cf-6a9b-4f77-a39b-5749e8982851.woff2") format("woff2"),url("Fonts/d1001ef9-2b8e-4cd1-99e7-9f48a6f7d356.woff") format("woff"),url("Fonts/0c9b7a6a-39da-4a63-8de4-3a91edeab5de.ttf") format("truetype"),url("Fonts/a3f40f07-8d2b-4630-a6c6-a6e1ceb4e1e7.svg#a3f40f07-8d2b-4630-a6c6-a6e1ceb4e1e7") format("svg");
}
@font-face{
    font-family:"Swiss_721 W01 Roman";
    src:url("Fonts/debae208-0c7b-4232-ba62-313e2d9d14c7.eot?#iefix");
    src:url("Fonts/debae208-0c7b-4232-ba62-313e2d9d14c7.eot?#iefix") format("eot"),url("Fonts/c01ba868-3eaf-4bf4-b173-216c1156d174.woff2") format("woff2"),url("Fonts/19c307d6-6fd8-47d3-a56d-fa998322491a.woff") format("woff"),url("Fonts/61571c7a-d78e-4d50-822d-194e2b92a1f1.ttf") format("truetype"),url("Fonts/eafecdd5-35c6-4dc5-bc71-9b81010c7fa4.svg#eafecdd5-35c6-4dc5-bc71-9b81010c7fa4") format("svg");
}
@font-face{
    font-family:"Swiss_721 W01 Bold";
    src:url("Fonts/5b9ccca5-47aa-44da-9a69-75a9c5b8f314.eot?#iefix");
    src:url("Fonts/5b9ccca5-47aa-44da-9a69-75a9c5b8f314.eot?#iefix") format("eot"),url("Fonts/b30d2835-5b41-443d-bb15-9fe76345d117.woff2") format("woff2"),url("Fonts/6f8c05f7-2d01-4282-ba89-505635df2953.woff") format("woff"),url("Fonts/3fa115a3-0515-4bbd-94cc-555dc6341889.ttf") format("truetype"),url("Fonts/d3755f1d-88db-4cd3-a42b-8226e3aeeaf4.svg#d3755f1d-88db-4cd3-a42b-8226e3aeeaf4") format("svg");
}   

$blue:    #2C3D45 !default;
$indigo:  #4E5792 !default;
$purple:  #392F30 !default;
$pink:    #5F534F !default;
$red:     #E90013 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #323937 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$black:   #292b2c !default;

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  black: $black,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  //teal: $teal,
  //cyan: $cyan,
  //white: $white,
  //gray: $gray-600,

) !default;

$theme-colors: (
  primary: $red,
  //secondary: $gray-600,
  success: $green,
  //info: $cyan,
  //warning: $yellow,
  danger: $red,
  //light: $gray-100,
  //dark: $gray-800
) !default;



[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none !important;
}
a , .red{
    color:$red;
} 


a:focus, a:hover {
    color: $red;
    text-decoration: underline;
}

h1.title {
    font-size: 1.2rem;
    color: white;
    margin-top: 1.2em;
    font-family: "Swiss_721 W01 Light";
    text-transform: none;
    
}

.alertLocation{

    h4{

        font-size:1em;

    }
    
    
}

a.passe-saison{
    
    width:40em;
    
}


.logo{
    
    width:300px;
    float:left;
    height:50px;
}

.featurette em{
    
    font-size:0.8em;
    text-transform:normal;
}
span.annonce-top{
            
        font-size:1.8em;
        font-family:"Swiss_721 W01 Bold";
        text-transform: uppercase;
       
    width: 100%;
    
        a{
        
            color: white;
            float: right;
            margin-top: 0.9em;
        } 
}

span.separation{
    
    position:absolute;
    width: 1px;
    background-color: white;
    right:0px;
    top:0px;
    height:30px;
    z-index:999;
}

body{
    
   font-family:"Swiss_721 W01 Roman";
}

h1 {
    font-size: 3.2rem;
    font-family:"Swiss_721 W01 Bold";
    line-height:1.3;
    margin-top:0.2em;
    margin-bottom:0.5em;
}

.pages {
    
    h2{
        
        font-size:1.2em;
        margin-bottom:1.6em;
        line-height:1.5;
        color: #545252;
    }
}

h2{
    
    color:$red;
}

h3{
    
    line-height: 1.6;
}

#nav-secondaire{
    
    width:100%;
    
    ul{
        width:100%;
        float: right;
        margin-bottom: 0rem;
        

        li{
            
            float:right;
            padding:0.8em 0.5em;
            list-style:none;
            text-align: center;
            background-color: white;
            transition: all 0.3s ease 0s;
            text-transform:uppercase;
            font-size: 0.9em;
        }
        
        li:hover{
            
            background-color: $red;
            a{
                color:white;
            }
        }
        
    }
}


.btn {

    border-radius: 0rem;
    border:none;

}

.btn-primary {
    color: #fff;
    background-color: $red;
    border-color: #0275d8;
}

.btn-primary:hover {

    background-color: rgba(248, 0, 0, 0.8);

}

.top-sec{
    
    border-bottom:solid thin #cbcbcb;
    padding-top: 3.2em;

    
    [itemprop="description"] {
    color:dimgray;
    font-size: 0.9em;
    
    margin-top: 1em;
    float: left;
    border-bottom: solid 4px #cbcbcb; 
     
    }
    
    
}

h4.neige{
        
        font-size: 1em;
        color:#666;
        margin-top:0.4em;
    }

.bg-inverse{
    
    background-color: $red !important;
    border-bottom:solid 2px #ccc;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(158,156,156,1);
-moz-box-shadow: 0px 5px 5px 0px rgba(158,156,156,1);
box-shadow: 0px 5px 5px 0px rgba(158,156,156,1);
}

.navbar-inverse .navbar-nav .active > .nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open > .nav-link {
    color: #fff;
}

.navbar-nav{
    
    float:right;
        
    li{
        
        float:right;
    }
}

.fixed-top {

    width: 100%;
    top:43px;
}

.dropdown-item:active {

    background-color: $red;
}

#principal{
    
    .dropdown-toggle{
        background:$red;
        color: white;
        padding: 0.8em 1em;
        text-align: center;
        transition: all 0.3s ease 0s;
        margin:0 0.4em;
        transition: all 0.3s ease 0s;
        font-family: 'Swiss_721 W01 Bold';
        text-transform:uppercase;
        font-size:1.2em;

    }
    
    .icon-ski{
            
            display: block;
            width: 58px;
            height: 38px; 
            background: url('/images/icons/ski.png') top;
            text-indent: -99999px;
            float:left;
        margin-top: -4px;

    }
    
    .dropdown-toggle:hover{
        
         .icon-ski {
            background-position: 0 38px;
            background-color: transparent;
            border-style: none;
        }
        
    }
    
    .icon-raquette{
            
            display: block;
            width: 58px;
            height: 38px; 
            background: url('/images/icons/raquette.png') top;
            text-indent: -99999px;
            float:left;
        margin-top: -5px;

    }
    
    .dropdown-toggle:hover{
        
         .icon-raquette {
            background-position: 0 38px;
            background-color: transparent;
            border-style: none;
        }
        
    }
    
    .icon-fatbike{
            
            display: block;
            width: 58px;
            height: 38px; 
            background: url('/images/icons/fatbike.png') top;
            text-indent: -99999px;
            float:left;
            margin-top: -7px;
            margin-right: 6px;
    }
    
    .dropdown-toggle:hover{
        
         .icon-fatbike {
            background-position: 0 38px;
            background-color: transparent;
            border-style: none;
        }
        
    }
    
       
    
    .nav-link{
        
        margin-top:1em;
    }
    
    .dropdown-toggle:hover{
        background:#242424;
        
         .icon-menu{
    
                .brightness {-webkit-filter: brightness(0.25); filter: brightness(0.25);}
            }
        
  
    }
}
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1.1rem;
    padding-left: 1.1rem;
}


.statut{
    
        margin-top: 1em;
    float: left;
    font-family: 'Swiss_721 W01 Bold';
    color: #E90013;
    font-size: 1.4em;
    margin-left: 3em;
    
    .date{
        
        color:gray;
        font-family:'Swiss_721 W01 Bold';
        float: left;
        margin-right:0.4em;
        
         h3:hover{
                
                transition: all 0.3s ease 0s;
                background-color: #94000c;
                    
            }
        
        h3 {
            
            background:#E90013;
            text-transform:uppercase;
            font-size:0.9em;
            padding:0.3em;
            text-align: center;
            
            a{
                
               color:white; 
                text-decoration: none;
            
                
                span{
                
                    color:#e0e0e0;
                    font-size:0.8em;
                }
            }
            
        }
        
       
            
            
    }

    
}

img.bloc-service {
            position: absolute;
            top: 0;
            height: 42vh;
            width:100%; 
        }



#bloc-ski {
    width: 100%;
    height: 45vh;
    position:relative;
    border-bottom: thin solid white;

    
        img.oeil {
            position: absolute;
            top: 0;
            height: 45vh;
            width:100%; 
            border-top: solid thin $red;
        }
    
    
    .achetez{
        
    position: absolute;
    top: 80%;
    left: 46%;
    z-index: 9;
    margin-left: -40px;
        
       
    }
  

    
    h2.titre{
        
        position:absolute;
        left:0%;
        top:40%;
        width:100%;
        text-align: center;
        font-size:4em;
        text-transform:uppercase;
        font-family:'Swiss_721 W01 Bold';
        color:white;
        letter-spacing: 0.1em;

     
    }
    
    .passes{
        
        position:absolute;
        top:60%;
        left:10%;
        color:$red;
        background:rgba(255,255,255,0.2);
        padding:0.4em 1.8em;
        font-size:2em;
    }
    
    
    
    .bloc-link-ski{
    
    position:absolute;
    top:65%;
    width:100%;
    left:0;
    padding:0 18%;
        
        h4{
            
            
            
            a{

            text-transform:uppercase;
            color:white;
            font-size:0.9em;
            padding:0.4em 2em;
            background-color:rgba(255,255,255,0);
            transition: all 0.3s ease 0s;
            }
            
            a:hover{

            transition: all 0.3s ease 0s;
            background-color:rgba(255,255,255,0.2);
            text-decoration: none;
            }
        }
        
        
    }
}

#bloc-fat-raquette {
    
    width: 100%;
    height: 42vh;
    position:relative;
    border-top: solid thin #b9b9b9;
    border-bottom: solid thin #b9b9b9;
    
    h2.titre{
        
        position:absolute;
        left:0%;
        top:35%;
        width:100%;
        text-align: center;
        font-size:4em;
        text-transform:uppercase;
        font-family:'Swiss_721 W01 Bold';
        color:white;
        letter-spacing: 0.1em;

    }

    .bloc-link{
    
    position:absolute;
    top:65%;
    width:100%;
    left:0;
    padding:0 5%;
        
    h4{
            
            
            
            a{

            text-transform:uppercase;
            color:white;
            font-size:0.8em;
            padding:0.2em 1.5em;
            background-color:rgba(255,255,255,0);
            transition: all 0.3s ease 0s;
            }
            
            a:hover{

            background-color:$red;
            text-decoration: none;
            background-color:rgba(255,255,255,0.2);
            }
        }
}
    
    .wrap-bloc-service{
    
    position: relative;
    width: 100%;
    height: 42vh;
    float: left;
    border-right: solid thin #b9b9b9;
        
        .achetez{
            
            position: absolute;
            top: 80%;
            left: 50%;
            margin-left: -93px;
            z-index: 99;
        }
    
}

    
    


.text-accueil{
    
    
    h2{
        
        margin-top:2em;
    }
    
    p{
        
        margin-bottom:2em;
    }
}

}
.carousel {
    margin-bottom: 1rem;
    border-top: solid thin $red;
    border-bottom: solid thin #666;
    
    h4{
        
        font-size: 2.5rem;
        border-bottom:solid thin #bebebe;
        line-height:1.8;
        margin-bottom:0.2em;
        
    }
    
    p{
        font-size:1.2em;
        
    }
}

.carousel-item {
    height: 28rem;
    background-color: #777;
        
    img {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -900px;
    
    }
}



/*  Header 
_________________________________________________________ */

.main-navigation ul ul {

    top: 1em;

}

.alertLocation{
    
    position:fixed;
    top:0;
    left:0;
    font-size:1.2em;
    background-color:#278C82;
    text-align:center;
    color:white;
    width:100%;
    line-height:2;
    padding: 4px;
    z-index: 9999;
}

.navbar-brand{
    
    font-size:2em;
}

.navbar-nav{
    
    text-transform:uppercase;
}





.media {
    background: #fcfcfc;
    border: solid 1px #c7c9c8;
    margin-bottom: 30px;
    transition: all 0.3s ease 0s;
        
    h3{
    text-transform:uppercase;    
    font-size:1.2em;
       
    }
}

.media:hover{
    background: #ebebeb; 
}

.media, .media .media {
    margin-top: 15px;
}
.media:first-child {
    margin-top: 0;
}


.media, .media-body {
    overflow: hidden;
    zoom: 1;
}


.media div.pull-left {
    overflow: hidden;
    margin-right: -15px;
    margin-left: 14px;
}

.media-img {
    overflow: hidden;
    position: relative;
    padding: 0;
}


.media-img .img-overlay {
   
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 50%;
    text-align: center;
    z-index: 4;
    -webkit-transition: opacity 0.3s ease-out;
    -moz-transition: opacity 0.3s ease-out;
    -o-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;

}




.media a {
    overflow: hidden;
    color:$red;
}


.services{
    
    border-top:solid 2px black;
    
    h1{
        
        font-size:2.6em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom:1em;
        margin-top:1.7em;
    }
    
    h2{
        
        font-size:2em;
        text-align: center;
         margin-bottom:2em;

    }
    
    .media-body {
        padding: 15px 30px 10px 35px;
    }
}

/*  pages 

________________ */

.text-muted {
    color: $red !important;
}
.pages{
    
    h1{
        

        text-transform: uppercase;
    }
}
.featurette-divider {
    margin: 2rem 0;
}

.featurette-heading {
    margin-top: 1rem;
    text-transform: uppercase;
}



.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.order-md-2{
    
    -ms-flex-order: 2;
    order:2;
}

.order-md-1 {
    -ms-flex-order: 1;
    order: 1;
}

/*  Contenu 
_________________________________________________________ */

.well{
    width:100%;
    
    h3{
        
        margin-bottom:1.2em;
        border-bottom:solid thin #ccc;
        
    }
    
    h2{
        
        font-size:1.2em;
        margin-bottom:2em;
        line-height:1.6;
    }
}

.album {
    min-height: 50rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
}

.card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card .logo{
    
    position:absolute;
    left:50%;
    margin-left:-167px;
    top:50%;
    margin-top:-100px;
    width: 85%;
}

.card .btn{
    
    border: solid thin #ccc;
}

.card h3{
    
    margin-top:1em;
    text-align: center;
    height:7em;
}

.card h3 {
    margin-top: 1em;
    text-align: center;
    height: 3em;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 1.4em;
    color: black;
}

.card:hover h3 {
   
    color: $red;
}
.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.card:hover .grayscale{
	-webkit-filter: grayscale(0%);
	filter:grayscale(0%);
}

.card > img {
    margin-bottom: .75rem;
}

/*  Footer 
_________________________________________________________ */

footer{
    
    background-color: #292b2c;

    padding:2em 0 0 0;
    color:white;
    border-top: solid thin $red;
    
        [itemprop="telephone"] {
            font-size:2em;
            line-height:2.3;
            
        }
    .logo-footer{
        
        font-size: 6em;
        text-transform: uppercase;
        text-align: right;
        
    }
    
   
    
    ul.social-icon{
        
        list-style:none;
        float:left;
        width:100%;
        padding-left:0;
        margin-top:0.6em;
        
        li{
            border-radius: 50%;
            width: 2.4em;
            height: 2.4em;
            background-color: white;
            text-align: center;
            float: left;
            margin-right: 0.7em;
            font-size: 1.5em;
            transition: all 0.3s ease 0s;
            
            a{
                
                color:$red;
            }
            
            .fa{
                margin-top:0.5em;
                font-size: 1.2em; 
            }
            
            
            .fa-facebook{
                
                margin-left:-2px;
            }
            
            
            }
        
        li:hover{
                background-color: $red;
                a{
                    color:white;
                }
        }
    }
}


.wrap-info{
    
    background:#272727;
    margin-top:2em;
    border-top:solid thin #d3d3d3;
    
    p{
        font-size:0.85em;
        text-align: center;
        line-height: 3;
        margin: 0 0 0px;
            
        a{
            
            color:white;
        }
    }
}


.realisations{
    
    .thumbnails{
        
        max-width: 100%;
        height: auto;
        -ms-interpolation-mode: bicubic;
        display: inline-block;
        vertical-align: middle;
    }
    
    .grayscale {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
    
    a{
        
        position:absolute;
        bottom:0;
    }
    
    .logo{
        
        position: absolute;
        left: 0;
        top: 28%;
    }
}

/*  Sign in Form 
_________________________________________________________ */

.wrap-sign-in{
    
    z-index:99999;
    width: 100%;
    height: 100vh;
    position:relative;
    float:left;
    

  background-image: url(../images/sign-in.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
    
        img.bg {
            position: absolute;
            top: 0;
            width:100%; 
            
        }
}

.form-signin {
  max-width: 430px;
  padding: 15px;
  margin: 0 auto;
    border-radius:8px;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left:-220px;
    background-color: rgba(255,255,255,0.9);
    border:solid thin black;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(77,76,77,1);
-moz-box-shadow: 7px 7px 5px 0px rgba(77,76,77,1);
box-shadow: 7px 7px 5px 0px rgba(77,76,77,1);
    
    .checkbox {
        font-weight: normal;
    }
    
    .form-control:focus {
      z-index: 2;
    }
    
    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    
    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    
    .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
    }


}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}


.contact{
    
    [itemprop="name"] {

    font-size: 1.2em;
    font-family:'Swiss_721 W01 Bold';
    margin-bottom:0.9em;
    }
    
    [itemprop="telephone"] {

    font-size: 1.4em;
    color:$red;
    margin-bottom:0.9em;
        font-family:'Swiss_721 W01 Bold';
    }

    
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */



/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*
 * Réalisation single
____________________________________________________________________________________
 */

#realisation .apercu{
	position:relative;
    width:100%;
}

#realisation .desktop-container{
	position:relative;
	text-align:center;
}

#realisation .desktop-container .desktop{
	position:relative;
	width:79.897%;
	z-index:1;
}

#realisation .desktop-container .desktop-demo{
	position:absolute;
	width:75.4%;
	padding-top:1em;
	left:12.4%;
	z-index:0;
}

#realisation .tablette-container, #realisation .mobile-container{
	position:absolute;
	bottom:0%;
}

#realisation .tablette-container{
	right:3%;
}

#realisation .mobile-container{
	left:3%;
}

#realisation .tablette-container .tablette, #realisation .mobile-container .mobile{
	position:relative;
	width:100%;
	z-index:3;
}

#realisation .tablette-container .tablette-demo, #realisation .mobile-container .mobile-demo{
	position:absolute;
	width:87%;
	height:81%;
	top:10%;
	left:7%;
	z-index:2;
}

ul#ville{
    
    float:left;
    width:100%;
    li{
        float:left;
        list-style:none;
        margin:0.2em;
        
    }
}

#sentiers{
    height: 100%;
    background-image: url(../images/sentiers/tout-les-sentiers.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin-bottom:3em;
    position:relative;

    
    span.icon{
        width: 100%;
        height: 100%;
        float: left;
        background-image: url(../images/sentiers/icon.png);
        z-index: 999;
            background-repeat: no-repeat;
    }
    
    #imgSentier{
        
        z-index: 9;
        position: relative;

        width: 100%;
    }

    
    img{
        
    }
}

#liste-sentiers{
    
    ul{
          width:100%;
            float:left;
            -webkit-padding-start: 0px;
        
        li{
            
            list-style: none;
            width:100%;
            float:left;
            margin-bottom:1em;
            
            a{
                
                width:100%;
                padding:0.3em 1em;
                background-color: white;
                transition: all 0.3s ease 0s;
                width:100%;
                float:left;
            }
            
            a:hover{
                background-color: $red;
                color:white;
                
            }
        }
    }
}

.bloc-ski{
    
        background-image: url(../images/accueil/ski-de-fond.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        padding: 85px 0;
    
}

.bloc-accueil{
    
    .ski{
            
        background-image: url(../images/accueil/ski-de-fond.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        padding: 85px 0;
        
    }
    
    .raquette{
        
        background-image: url(../images/accueil/raquette.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        padding: 85px 0;
        }
    
    .fatbike{
        
        background-image: url(../images/accueil/fatbike.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        -moz-background-size: cover;
        -ms-background-size: cover;
        -webkit-background-size: cover;
        padding: 85px 0;
        }
    
    h4{
        
        width:100%;
        line-height: 2;
        background-color: rgba(255,255,255,0.3);
        transition: all 0.3s ease 0s;
        width:100%;
        height:auto;

            
        a{
            
            color:$red;
        }
    }
    
    h4:hover{
        
        width:100%;
        line-height: 2;
        background-color: $red;
        
            
        a{
            
            color:white;
            
        }
    }
}

.wrap-client{
    

    border:solid thin #838383;
    background-color: #fcfcfc;
    padding:2em;
    
    h3{
        
        width:100%;
        float:left;
        
    }
}


.wrap-single-passe{
    
    padding:0.4em;
    border:solid thin #ccc;
    
}




#meteo{
    
    .city{
        
        color:white;
    }
    
    .condition{
        
        color:white !important;
    }
    
    #main_button{
        
        background-color:$red !important;
    }
    
    
    .header{
        
        display:none;
    }
    
    #plemx-root .weather-button {
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    height: 100%;
    }
    
    .temp{
        
        font-size:3em !important;
        color:white !important;
        
    }
}

.pistes-ouvert{
    
    font-size:3em;
    text-align:center;
    color:white;
    width:100%;
    float: left;
}

.condition-bloc{
    
    h3{
        
        text-align:center;
        color:white;
    }
    
    background-color:$red;
    padding:1em;
    border:solid thin #ccc;
    height:220px;
    margin-bottom:2em;
}
    
.piste-single{
    
    position:absolute;
    top:0;
    left:0;
    z-index:999;
    width: 100%;
}

.services-footer{
    
    h3{
        
        font-family:'Swiss_721 W01 Bold';
        font-size:1.2em;
        text-transform:uppercase;
        margin-bottom:1.3em;
    }
    
     ul.offre-services{
            -webkit-padding-start: 0px;
        li{
            
            width:100%;
            border-bottom:solid thin #ccc;
            list-style: none;
            float:left;
            font-size: 1em;
            line-height: 1.8;
            
            
            a{
                
                color:white;
            }
            
        }
         
         li:hover a{
             
             color:$red;
         }
        
    }
    
}

.image-passe{
    
    width:100%;
    float:left;
}

.caisse{
    
    
    width:100%;
    margin:2em 0;
    padding:2em;
    border:solid thin #ccc;
}

.prix-passe{
    
    font-family:"Swiss_721 W01 Bold";
    margin-top:0.8em;
    border-bottom:solid thin #ccc;
    margin-bottom:2em;
}

.prix-total{
    font-family:"Swiss_721 W01 Bold";
    margin-top:0.8em;
    border-bottom:solid thin #ccc;
    margin-bottom:2em;
    font-size:1.8em;
}

input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {

   width: 78%;
    margin-left: 1em;

}

.btn.peach-gradient {
    background: -webkit-linear-gradient(50deg,#3a2e10,#FC6262)!important;
    background: linear-gradient(40deg,#823c34,#e90313)!important;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    color:white;
    line-height: 2;
}

.btn-primary:hover {
    color: #fff;
    background-color: #292b2c !important;
    border-color: #01549b;
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus {
    background-color: $red !important;
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {

    background-color: $red;
}

.item-menu-footer-small{
    
    width: 63%;
    position: absolute;
    right: 0;
    bottom: 7px;
    z-index:9999999999;
    
    a{
        
        .fa{
            font-size:2em;
            color:white;
            }
      
    }
    
}

.red {
    background-color: transparent!important;
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
    outline: 0;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 15px;
    padding: 0;
    display: block;
}

.form-control {
   
    border: 1px solid rgba(0,0,0,0.1);
    
    
}

.mdb-select{
    
    width:80%;
    margin-left:2em;
}

.dropdown-primary .dropdown-content li a, .dropdown-primary .dropdown-content li span:hover, .dropdown-primary .dropdown-content li.active {
    background-color: $red;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: black;

}

.container.gallery-container {
    min-height: 100vh;

}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
   
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}

.ph-famille{
    
    font-size:1.8em;
    
}


.avantage-passe{
    
    margin-top:1.4em;
}

.heure-ouverture{
    
    margin-top:2em;
    
    h3{
        
        
    }
    
    p{
        line-height:1.8;
    }
    
}

.promoRabais{

    width:100%;
    
}

.promoR{

    .col-6, .col-12, .col-md-6{

        margin:0;
        padding:0;
    }
}

.seoac{

    h1{

        margin-top:1em;
    }

    h2{

        margin-bottom:2em;
    }


}


.navbar-nav{

    .menuIn{



         li {
            float: left;
            width:50%;
             text-align: center;
        }

        a{

            color:white!important;

        }

    }
}
